<template name="contacts">
  {{#contentFor "title"}}
    <h1 class="title">Contacts</h1>
  {{/contentFor}}

  {{#contentFor "rightNavButton"}}
    <a href="{{pathFor 'contacts.new'}}" class="button button-clear"><i class="icon ion-ios7-plus"></i></a>
  {{/contentFor}}

  <div class="list">
    {{#each contacts}}
      <a href="{{pathFor 'contacts.show'}}" class="item item-avatar item-icon-right">
        <img src="{{avatarUrl}}">
        {{name.first}} {{name.last}}
        <i class="icon ion-ios7-arrow-forward positive"></i>
      </a>
    {{/each}}
  </div>
</template>
